---
name: test-actions
on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]
jobs:
  default:
    strategy:
      matrix:
        env:
          - runs-on: windows-latest
          - runs-on: ubuntu-latest
    runs-on: ${{ matrix.env.runs-on }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          aqua_version: v1.10.2
          working_directory: tests
      - run: command -v aqua
      - run: aqua -v
      - run: github-comment -v
        working-directory: tests
  set-absolute-path:
    strategy:
      matrix:
        env:
          - runs-on: windows-latest
          - runs-on: ubuntu-latest
    runs-on: ${{ matrix.env.runs-on }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          aqua_version: v1.10.2
          install_path: /tmp/bin/aqua
          working_directory: tests
      - run: /tmp/bin/aqua -v
  set-relative-path:
    strategy:
      matrix:
        env:
          - runs-on: windows-latest
          - runs-on: ubuntu-latest
    runs-on: ${{ matrix.env.runs-on }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          aqua_version: v1.10.2
          install_path: bin/aqua
          working_directory: tests
      - run: tests/bin/aqua -v
