---
name: test-go
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test-go:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3
    - uses: aquaproj/aqua-installer@c553e04154f1f3b7e5eb35da058db3bb782bee8a # tag=v1.1.2
      with:
        aqua_version: v1.21.0
    - uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f # tag=v3.3.1
      with:
        go-version: '1.18.4'
        cache: true

    - uses: suzuki-shunsuke/github-action-golangci-lint@21eb516c4e9a92089b8060a2c00326224b33dbfb # tag=v0.1.3
    - run: go test -v ./... -race -covermode=atomic
