---
name: test-actions-macos
on:
  pull_request:
    branches: [main]
permissions:
  contents: read
jobs:
  default:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - uses: ./
        with:
          aqua_version: v1.26.2
          working_directory: tests
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - run: command -v aqua
      - run: aqua -v
      - run: github-comment -v
        working-directory: tests
        env:
          GITHUB_TOKEN: ${{ github.token }}
